<apex:page standardController="Account" id="EditAccount_page">
    <apex:form >
        <apex:pageBlock mode="edit" title="Edit Account">
            <apex:pageMessages />
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Save" action="{!Save}"  />
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Account Information" columns="2" collapsible="true">
                <apex:inputField id="aName" value="{!Account.Name}" tabOrderHint="100"/> <!-- Cuidado no es tabIndex -->
                <apex:inputField id="aPhone" value="{!Account.Phone}" tabOrderHint="201"/>
                <apex:inputField id="aWebsite" value="{!Account.Website}" tabOrderHint="202"/>
                <apex:inputField id="aAccountNumber" value="{!Account.AccountNumber}" tabOrderHint="204"/>
                
                <apex:inputField id="aAccountSource" value="{!Account.AccountSource}" required="true"  tabOrderHint="211"/>
                <apex:inputField id="aFax" value="{!Account.Fax}" tabOrderHint="212"/>
                <apex:inputField id="aIndustry" value="{!Account.Industry}"  tabOrderHint="213"/>
                <apex:inputField id="aNumberOfEmployees" value="{!Account.NumberOfEmployees}"  tabOrderHint="214"/>
                <apex:inputField id="aRating" value="{!Account.Rating}"  tabOrderHint="215"/>
                <apex:inputText id="aSite" value="{!Account.Site}" label="Lugar" tabindex="216"/>
                <apex:inputField id="aType" value="{!Account.Type}"  tabOrderHint="17"/>
                <apex:inputCheckBox id="aBigCompany" value="{!Account.BigCompany__c}" tabindex="218"/>
                 
                
                <apex:inputField id="VIP" value="{!Account.VIP__c}"  tabOrderHint="219"/>
                <apex:inputField id="aVIP_Type" value="{!Account.VIP_Type__c}" tabOrderHint="220"/>
                <!-- <apex:inputField id="Requerido" value="{!Account.Requerido__c}"/> -->
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Requerido secreto"/>
                    <apex:outputPanel >
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:inputSecret id="Secret" value="{!Account.Requerido__c}" required="true" tabindex="221"/>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:inputFile id="File" value=""/>
                
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Account Information" columns="1" collapsible="true" showHeader="false">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Descripcion de {!Account.Name}"></apex:outputLabel>
                    <apex:inputTextarea id="aDescription" value="{!Account.Description}" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Address Information of {!Account.name}">
                <apex:inputField id="aBillingStreet" value="{!Account.BillingStreet}" tabOrderHint="206"/>       
                <apex:inputField id="aBillingCity" value="{!Account.BillingCity}" tabOrderHint="207"/>       
                <apex:inputField id="aBillingState" value="{!Account.BillingState}" tabOrderHint="208"/>       
                <apex:inputField id="aBillingCountry" value="{!Account.BillingCountry}" tabOrderHint="209"/>       
                <apex:inputField id="aBillingPostalCode" value="{!Account.BillingPostalCode}" tabOrderHint="210"/>       
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>