<apex:page standardController="Account" 
	contentType="application/vnd.ms-excel" 
	showHeader="false" 
	sidebar="false" 
	standardStylesheets="false" 
	applyHtmlTag="false" 
	applyBodyTag="false"> 
	<apex:pageBlock title="Contacts">
        <apex:pageBlockTable value="{!account.Contacts}" var="contact">
            <apex:column value="{!contact.Name}"/>
            <apex:column value="{!contact.MailingCity}"/>
            <apex:column value="{!contact.Phone}"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>