<apex:page standardController="Account">
	<apex:detail relatedList="false" inlineEdit="true"/>
	<apex:pageBlock >
		<apex:toolbar id="theToolbar">
	        <apex:outputText value="Sample Toolbar"/>
	        <apex:toolbarGroup itemSeparator="line" id="toobarGroupLinks">
	            <apex:outputLink value="http://www.salesforce.com">
	              salesforce
	            </apex:outputLink>
	            <apex:outputLink value="http://developer.salesforce.com">
	             apex developer network
	            </apex:outputLink>
	        </apex:toolbarGroup>
	        <apex:toolbarGroup itemSeparator="line" location="right" id="toobarGroupForm">
	            <apex:form id="theForm">
	                <apex:inputText id="theInputText">Enter Text</apex:inputText>
	                <apex:commandButton value="search" id="theCommandLink"/>
	            </apex:form>
	        </apex:toolbarGroup>
	    </apex:toolbar>
	</apex:pageBlock>
    <apex:pageBlock > <!-- Table -->
    	<apex:panelGrid columns="3" id="theGrid">
        	<apex:outputText value="First" id="theFirst"/>
        	<apex:outputText value="Second" id="theSecond"/>
        	<apex:outputText value="Third" id="theThird"/>
        	<apex:outputText value="Fourth" id="theFourth"/>
    	</apex:panelGrid>
    </apex:pageBlock>
    <apex:pageBlock > <!-- Table with format-->
    	<apex:pageBlockTable value="{!account.Contacts}" var="item">
            <apex:column value="{!item.name}"/>
        </apex:pageBlockTable>
    </apex:pageBlock>           
	<apex:pageBlock > <!-- Table with format-->
		<apex:dataTable value="{!account.Contacts}" var="contact" id="contactDataTable">
			<apex:facet name="caption">table caption</apex:facet>
			<apex:facet name="header">table header</apex:facet>
			<apex:facet name="footer">table footer</apex:facet>
			<apex:column >
				<apex:facet name="header">Name</apex:facet>
			   	<apex:facet name="footer">column footer</apex:facet>
				<apex:outputText value="{!contact.name}"/>
			</apex:column>
			<apex:column >
				<apex:facet name="header">Owner</apex:facet>
				<apex:facet name="footer">column footer</apex:facet>
				<apex:outputText value="{!contact.owner.name}"/>
			</apex:column>
		</apex:dataTable>
    </apex:pageBlock>           
	<!-- <apex:pageBlockTable/> -->
</apex:page>