<apex:page standardController="Contact" id="ViewContactWithAccount_page">
    <apex:form >
        <apex:detail relatedList="false" inlineEdit="true"/>
        <apex:pageBlock id="accountBlock" title="Detalles de la cuenta" mode="inlineEdit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!edit}" value="Editar Contacto"/> <!-- Edita el Contacto-->
                <apex:commandButton action="{!URLFOR($Action.Account.Edit,Contact.Account.Id)}" value="Editar Account"/>
                <!-- Mal Hecho -->
                <!-- <apex:commandButton value="Editar Account" onclick="window.location='../{!Contact.AccountId}/e'; return false;"/>  -->
                
            </apex:pageBlockButtons>
           
                        
            <apex:pageBlockSection id="accountDataSection" title="Datos de la cuenta" columns="2">
                <apex:outputField value="{!Contact.AccountId}"/>
                <apex:outputField value="{!Contact.Account.site}"/>
                <apex:outputField value="{!Contact.Account.type}"/><apex:pageBlockSectionItem >WARNING</apex:pageBlockSectionItem>
                <apex:outputField value="{!Contact.Account.accountNumber}"/>
                <apex:pageBlockSectionItem >
                    <p></p>
                    <apex:commandButton value="Guardar cambios" reRender="accountDataSection" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection id="accountBillingAddressSection" title="Billing address" columns="2">
                <apex:outputField value="{!Contact.Account.BillingStreet}"/>
                <apex:outputField value="{!Contact.Account.BillingPostalCode}"/>
                <apex:outputField value="{!Contact.Account.BillingCity}"/>
                <apex:outputField value="{!Contact.Account.BillingState}"/>
                <apex:outputField value="{!Contact.Account.BillingCountry}"/>
                <apex:pageBlockSectionItem >
                    <p></p>
                    <apex:commandButton value="Guardar cambios" reRender="accountBillingAddressSection" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock id="ownerData" title="Detalles del propietario" mode="inlineEdit">    
            <apex:pageBlockSection title="Propietario" columns="1">
                <apex:outputField value="{!Contact.Owner.name}"/>
                <apex:outputField value="{!Contact.Owner.phone}">
                    <apex:inlineEditSupport event="ondblClick" />
                </apex:outputField>
            </apex:pageBlockSection>
        </apex:pageBlock> 
    </apex:form>
</apex:page>